In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("sales_data.csv")

In [4]:
data

       Name Product Name  Sale Price    MRP  Rating   Sale Date
0     Alice     Product1       100.0  120.0     4.5  2023-08-01
1       Bob     Product2       150.0  170.0     4.0  2023-08-02
2   Charlie          NaN       200.0    NaN     3.5  2023-08-03
3     David     Product4         NaN  210.0     5.0  2023-08-04
4       Eva     Product5       250.0  270.0     NaN  2023-08-05
5     Frank          NaN       300.0  320.0     4.7         NaN
6     Grace     Product7       350.0    NaN     4.1  2023-08-07
7     Helen     Product8         NaN  370.0     3.8  2023-08-08
8       Ivy     Product9       400.0  420.0     NaN         NaN
9      Jack          NaN       450.0    NaN     4.3  2023-08-10
10     Kara    Product11       500.0  520.0     4.9  2023-08-11
11      Leo    Product12         NaN  570.0     NaN         NaN
12     Mona    Product13       550.0    NaN     3.9  2023-08-13
13     Nina    Product14       600.0  620.0     4.6  2023-08-14
14    Oscar          NaN       650.0  670.0     4.2  2023-08-15

In [11]:
for index in data.index:
    if data.loc[index,"MRP"]<250:
        data.loc[index,"MRP"]=1000
    if pd.isna(data.loc[index,"MRP"]):
        data.loc[index,"MRP"]=9999

data.to_csv("Updated_data.csv")

In [12]:
pwd

'E:\\For_loop'

In [6]:
data.index

RangeIndex(start=0, stop=15, step=1)